<ul>
    <li><a href="/user/posts">Posty</a></li>
    <li><a href="/user/post">Dodaj posta</a></li>
    <li><a href="/user/friends">Znajomi</a></li>
    <li><a href="/user/dashboard">Dashboard</a></li>
</ul>
<h1>Friends!</h1>
<ul>
<% friends.forEach(function(friends){ %>
    <li><%=friends.name %> <%=friends.surname %></li>
<% }) %>
</ul>