<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h3>Add post</h3>
        <form method = "POST" action="/post/add">
            <label>Write something</label><br>
            <input type = "text" name = "value">
            <br>
            <label>Author</label><br>
            <input type="text" name="author">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        
        <h1>Friends!</h1>
        <ul>
        <% friends.forEach(function(friends){ %>
            <li><%=friends.name %> <%=friends.surname %></li>
        <% }) %>
        </ul>
        
        <h1>Posts</h1>
        <ul>
        <% post.forEach(function(post){ %>
            <li><%=post.value %><br>
                Posted by: <%=post.author%>
            </li>
            <br><br>
        <% }) %>
        </ul>
        <div>
            <h1>Login</h1>
            <form action="auth" method="post">
                <label for=""></label><input type="text" name="email" placeholder="Email">
                <label for=""></label><input type="password" name="password" placeholder="Password"></br>
                <button type="submit">Login</button>
            </form>
        </div>
        
        <div>
            <h1>Register</h1>
            <form action="register" method="post">
                <input type="text" name="name" placeholder="Imię">
                <input type="text" name="surname" placeholder="Nazwisko"></br>
                <input type="text" name="email" placeholder="example@email.com">
                <input type="password" name="password" placeholder="Password"></br>
                <button type="submit">Register</button>
            </form>
        </div>
        
    </body>
</html>

