<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Social Media</title>
    </head>

    <body>
        <div>
            
        </div>
        <div class="container"><%- body %></div>
    </body>
</html>

