body {
    color: #000000;
    background: #63738a;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    position: relative;
    font-size: 15px;
}

pre {
    tab-size: 8;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media(min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

@media screen and(max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left 0.4s;
    }
    .side-collapse-container.out {
        left: 200px;
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width 0.4s;
    }
    .side-collapse.in {
        width: 0;
    }

   .nav
   {
       margin: auto;
       padding:auto;
   }
    
}